.operador-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: calc(100vh - 85px);
    background: #2D1529; /* purple base background */
    padding: 0;
    color: white; /* text color for readability on dark background */
}

@media (max-width: 991.98px) {
    .operador-content {
        margin-left: 0;
        width: 100%;
    }
}
