<div class="ubicaciones-container">
  <div class="ubicaciones-header">
    <h1 class="title">Nuestras Sucursales</h1>
    <p class="subtitle">Encuentra la sucursal más cercana a ti</p>
  </div>

  <div class="map-wrapper">
    <div id="map" class="map-container"></div>
  </div>

  <div class="sucursales-info">
    <div class="info-card">
      <h3>Informacion de Locales</h3>
      
      <div class="sucursal">
        <h3>Sucursal Principal</h3>
        <p><strong>Dirección:</strong> Centro Comercial Cafam Floresta Local 67</p>
        <p style="margin-left: 6.5rem;">Av. 68 #90 - 88, Bogotá</p>
        <p><strong>Teléfono:</strong> +57 300 3658312</p>
        <p><strong>Horario:</strong> Lun-Dom 9:00 AM - 11:00 PM</p>
      </div>
    </div>
  </div>
</div>
