<!-- CARRUSEL PRINCIPAL -->
<app-herocarrusel></app-herocarrusel>

<!-- CARACTERÍSTICAS -->
<section class="features-section py-5 bg-light">
  <div class="container">
    <div class="row text-center">
      @for (feature of features; track feature.titulo) {
        <div class="col-md-4 mb-4">
          <app-feature-card [feature]="feature"></app-feature-card>
        </div>
      }
    </div>
  </div>
</section>

<!-- MINI NOSOTROS -->
<app-minisobre></app-minisobre>

<!-- CREAR TU TACO -->
<app-creataco></app-creataco>

<!-- RECOMENDADOS -->
<app-recomendados></app-recomendados>
